<script>
	import Nav from '../components/Nav.svelte';

	export let segment;
</script>

<style>
	main {
		position: relative;
		width: 100%;
		/* max-width: 56em; */
		background-color: white;
		padding: 2em;
		margin: 0;
		box-sizing: border-box;
		height: calc( 100vh - 57px );
	}
</style>

<Nav {segment}/>

<main>
	<slot></slot>
</main>
