<svelte:head>
	<title>À propos</title>
</svelte:head>

<h1>À propos</h1>

<h2>Historique du projet metslesliens</h2>

<p>Début 2018, le <a href="https://parlement-ouvert.fr">Bureau ouvert</a> de la députée Paula Forteza et animé par Emmanuel Raviart a réalisé un mini-site facilitant la navigation dans le <a href="https://donnees-personnelles.parlement-ouvert.fr">dossier législatif du projet de loi sur la protection des données personnelles</a>, comportant notamment des liens entre les différents documents (projet de loi, textes européens, loi n° 78-17 « CNIL », etc). Partant du constat qu’un programme automatique permettant de créer ces liens ne semblait pas exister [d’une qualité suffisante et en logiciel libre] et du fait de l’urgence – puisque le projet de loi allait être mis à l’ordre du jour, les liens sur ce site ont été ajoutés par des bénévoles du Bureau ouvert.

<p>En juin 2018, à l’occasion de la <a href="https://movilab.org/wiki/Nuit_du_code_citoyen_Rennes_2018">Nuit du Code citoyen à Rennes</a>, le projet metsleliens a été créé par <a href="https://www.seb35.fr">Seb35</a> pour pallier au manque d’un programme de ce type. L’idée d’utiliser une <a href="https://en.wikipedia.org/wiki/Parsing_expression_grammar">grammaire PEG</a> est venue d’un participant du hackathon, Pierre-Yves. Les grammaires PEG permettent notamment, à la différence des expressions régulières, une meilleure lisibilité et compréhension de l’ensemble des règles. <a href="https://movilab.org/wiki/Nuit_du_code_citoyen_Rennes_2018/Lois">Compte-rendu de l’atelier Lois du hackathon</a>.</p>

<p>La <a href="https://framagit.org/parlement-ouvert/metslesliens">première version</a> de metslesliens (et à août 2019 la version stable de référence) a été écrite en Python avec la librairie <a href="https://github.com/erikrose/parsimonious">Parsimonious</a>. L’essentiel de la grammaire a été écrit entre juin et août 2018, la grammaire a atteint une qualité très correcte en juillet et la version 1.0 a été créée le 28 août 2018. Cette version est utilisée depuis juillet 2018 par <a href="https://www.lafabriquedelaloi.fr">La Fabrique de la Loi</a> (<a href="https://www.lafabriquedelaloi.fr/articles.html?loi=pjl18-452&article=2&etape=0">exemple</a>).</p>

<p>La <a href="https://framagit.org/parlement-ouvert/metslesliens/tree/master-js">version JavaScript</a> (actuellement expérimentale) a été créée en août 2019 en portant la grammaire Parsimonious vers une grammaire <a href="https://pegjs.org">PEG.js</a> (essentiellement remplacement des commentaires, transformation des petites expressions régulières (inexistantes en PEG.js) en grammaire PEG et création d’actions PEG.js permettant de transformer le résultat capturé en un arbre sémantique plus utilisable que le résultat syntaxique).</p>

<p>Le présent site Web fait suite à ce portage et comble le manque d’une interface permettant de faciliter le debug de la grammaire. Son code source est <a href="https://framagit.org/Seb35/metslesliens-ui">disponible sous licence WTFPL 2.0</a>.</p>

<h2>Futures fonctionnalités</h2>

<ul>
<li>Clic sur un caractère quelconque du texte afin d’afficher la trace de la grammaire afin de comprendre pourquoi une expression n’a pas été reconnue comme un lien (faux négatif) ;</li>
<li>Évenutuellement amélioration du debug des règles à droite ;</li>
<li>Édition WYSIWYG du texte, il faut arriver à faire cohabiter Svelte et contenteditable ;</li>
<li>Ajout de tests unitaires et d’intégration de la grammaire.</li>
</ul>

