<svelte:head>
	<title>Aide</title>
</svelte:head>

<h1>Aide</h1>

<p><b>metslesliens</b> est un programme permettant de détecter automatiquement les liens vers d’autres articles ou sections dans un texte de loi français.</p>

<p>Cette interface permet de visualiser, sur un texte donné, les liens effectivement reconnus et facilite le debug de la grammaire sous-jacente en cas de problèmes sur la reconnaissance.</p>

<h2>Interface</h2>

<h3>Cadre de gauche</h3>

<p>Le texte est entré dans la partie basse, puis les liens apparaissent <b class="reflink">soulignés sur un fond « lavande »</b> dans la partie haute.</p>

<p>En cliquant sur un lien, celui-ci acquiert <b class="reflink selected-reflink">un fond « vert chartreuse »</b> et ses détails s’affichent alors dans le cadre de droite.</p>

<p>Via les boutons dans le menu en haut à gauche, il est possible d’afficher la « grammaire » ou de cacher la saisie du « texte ».</p>

<h3>Cadre de droite</h3>

<p>Celui-ci affiche des détails sur la reconnaissance d’un lien donné, affiché en titre. Il est possible de cliquer sur chacun des caractères du titre pour afficher l’ensemble des règles de la grammaire qui contiennent le caractère, en partant de la plus générale pour aller vers la plus spécifique.</p>

<p>La partie basse affiche le JSON résultat pour la reconnaissance du lien, soit, par défaut, sa forme purement syntaxique, soit, en cliquant sur le bouton « JSON » dans le menu en haut à gauche, sa forme sémantique. La forme sémantique se veut compatible avec le <a href="https://github.com/Legilibre/DuraLex">logiciel DuraLex</a> et peut être relativement différente du résultat syntaxique.</p>
