<script context="module">
  // vim: set ts=2 sw=2 sts=2 et:

  import peg from "metslesliens"
  import { showGrammar, showText, showSemantic } from "../state.js"

  const optionsSemantic = {};
  const optionsSyntactic = { partialMatch: true, plugins: [ new peg.SyntacticActionsPlugin( { ignoredRules: [ "entreePartial" ] } ) ] };

  export async function preload() {
    const fetchGrammar = await this.fetch(`grammaire-liens.txt`, {
        credentials: "same-origin",
      }),
      grammar = await fetchGrammar.text(),
      //text = "À l’article 7 du code pénal, il est ajouté le mot « bis »."
      text = `#### Article L100-4

I. - La politique énergétique nationale a pour objectifs :

1° De réduire les émissions de gaz à effet de serre de 40 % entre 1990 et 2030 et de diviser par quatre les émissions de gaz à effet de serre entre 1990 et 2050. La trajectoire est précisée dans les budgets carbone mentionnés à l’article L. 222-1 A du code de l’environnement ;

2° De réduire la consommation énergétique finale de 50 % en 2050 par rapport à la référence 2012, en visant un objectif intermédiaire de 20 % en 2030. Cette dynamique soutient le développement d’une économie efficace en énergie, notamment dans les secteurs du bâtiment, des transports et de l’économie circulaire, et préserve la compétitivité et le développement du secteur industriel ;

3° De réduire la consommation énergétique primaire des énergies fossiles de 30 % en 2030 par rapport à l’année de référence 2012, en modulant cet objectif par énergie fossile en fonction du facteur d’émissions de gaz à effet de serre de chacune ;

4° De porter la part des énergies renouvelables à 23 % de la consommation finale brute d’énergie en 2020 et à 32 % de cette consommation en 2030 ; à cette date, pour parvenir à cet objectif, les énergies renouvelables doivent représenter 40 % de la production d’électricité, 38 % de la consommation finale de chaleur, 15 % de la consommation finale de carburant et 10 % de la consommation de gaz ;

5° De réduire la part du nucléaire dans la production d’électricité à 50 % à l’horizon 2025 ;

6° De contribuer à l’atteinte des objectifs de réduction de la pollution atmosphérique prévus par le plan national de réduction des émissions de polluants atmosphériques défini à l’article L. 222-9 du code de l’environnement ;

7° De disposer d’un parc immobilier dont l’ensemble des bâtiments sont rénovés en fonction des normes " bâtiment basse consommation " ou assimilées, à l’horizon 2050, en menant une politique de rénovation thermique des logements concernant majoritairement les ménages aux revenus modestes ;

8° De parvenir à l’autonomie énergétique dans les départements d’outre-mer à l’horizon 2030, avec, comme objectif intermédiaire, 50 % d’énergies renouvelables à l’horizon 2020 ;

9° De multiplier par cinq la quantité de chaleur et de froid renouvelables et de récupération livrée par les réseaux de chaleur et de froid à l’horizon 2030.

II. - L’atteinte des objectifs définis au I du présent article fait l’objet d’un rapport au Parlement déposé dans les six mois précédant l’échéance d’une période de la programmation pluriannuelle de l’énergie mentionnée à l’article L. 141-3. Le rapport et l’évaluation des politiques publiques engagées en application du présent titre peuvent conduire à la révision des objectifs de long terme définis au I du présent article.`

    return { text, grammar, showGrammar, showText, showSemantic }
  }

</script>

<script>
  import { onMount } from "svelte"

  export let parser = { syntactic: { status: null }, semantic: { status: null } }
  export let grammar, text, links = [], showGrammar, showText, showSemantic, grammarStatus = null, grammarError = "calcul de la grammaire…"
  export let linkedText = [ [] ], selectedLink = { text: "" }, selectedLinkDetails = [], selectedChar = null, semanticLinks = {}
  export let grammarCM = null, webworker = null, sharedworker = null
  let timeout

  $: parser = computeGrammar( grammar )

  $: getLinkedText( text, parser )

  $: getLinkedTextFromWorker( text )

  showText.subscribe( value => {
      if( grammarCM && !value ) {
        setTimeout( () => grammarCM.refresh(), 250 )
      }
    }
  )

  function computeGrammar( grammar ) {
    if( sharedworker ) {
      sharedworker.port.postMessage( { grammar } )
      return parser;
    }
    if( webworker ) {
      webworker.postMessage( { grammar } )
      return parser;
    }
    parser.syntactic = peg.computeGrammar( 'syntactic', grammar, optionsSyntactic, parser.syntactic );
    if( parser.syntactic.status === false ) {
      grammarStatus = false;
      grammarError = peg.locationError(parser.syntactic.error) + parser.syntactic.error.message;
      return parser;
    }
    parser.semantic = peg.computeGrammar( 'semantic', grammar, optionsSemantic, parser.semantic );
    if( parser.semantic.status === false ) {
      grammarStatus = false;
      grammarError = peg.locationError(parser.semantic.error) + "(semantic) " + parser.semantic.error.message;
      return parser;
    }
    grammarStatus = true;
    grammarError = "";
    return parser;
  }

  function getLinkedText( text, parser ) {
    if( sharedworker || webworker ) {
      return;
    }
    if( parser.syntactic.status !== true ) {
      return;
    }
    links = peg.getLinks( text, parser.syntactic.parser );
    linkedText = peg.getLinkedText( text, links );

    selectedLink = { text: "" }
    if( links.length ) {
      showDetails(links[0])
    }

    if( parser.semantic.status ) {
      semanticLinks = peg.getSemanticLinks( links, parser.semantic.parser );
      if( semanticLinks.errors.length ) {
        grammarStatus = false;
        grammarError = "(semantic) " + semanticLinks[semanticLinks.errors[0]].exception.message;
      }
    }
  }

  function getLinkedTextFromWorker( text ) {
    if( sharedworker ) {
      sharedworker.port.postMessage( { text } )
    }
    if( webworker ) {
      webworker.postMessage( { text } )
    }
  }

  function showDetails(link) {
    if( selectedLink.text === link.text ) {
      return;
    }
    selectedLink = link
    link.end -= link.start
    link.start = 0
    showContainingRules( 0 )
  }

  function showContainingRules( ichar ) {
    selectedLinkDetails = getContainingRules( ichar, selectedLink )
    selectedChar = ichar
  }

  function getContainingRules( ichar, rule ) {
    let rules = []
    if( !rule ) {
      return []
    } else if( Array.isArray( rule ) ) {
      rule.forEach( subrule => {
          if( typeof subrule === "object" && subrule ) {
            rules = rules.concat( ...getContainingRules( ichar, subrule ) )
          }
        }
      )
      return rules
    }
    if( ichar >= rule.start && ichar < rule.end ) {
      rules.push( { rule: rule.rule, text: rule.text, start: rule.start, end: rule.end } )
    }
    if( rule.children ) {
      if( Array.isArray( rule.children ) ) {
        rule.children.forEach( subrule => {
            if( typeof subrule === "object" && subrule ) {
              rules = rules.concat( ...getContainingRules( ichar, subrule ) )
            }
          }
        )
      } else if( typeof rule.children === "object" ) {
        rules = rules.concat( ...getContainingRules( ichar, rule.children ) )
      }
    }
    return rules
  }

  function computeSemanticTree( parser, selectedLink ) {
    let semanticResult;
    if( parser.semantic.status !== true ) {
      return {}
    }
    try {
      const tree = parser.semantic.parser.parse( selectedLink.text )
      semanticResult = JSON.stringify( tree, null, 2 )
    } catch(e) {
      grammarStatus = false
      grammarError = peg.locationError(e) + "(semantic) " + e;
    }
    return semanticResult
  }

  function onWorkerMessage(e) {
    if( "linkedText" in e.data ) {
      linkedText = e.data.linkedText;
      selectedLink = { text: "" }
      if( e.data.firstLink ) {
        showDetails( e.data.firstLink )
      }
    }
    if( "semanticLinks" in e.data ) {
      semanticLinks = e.data.semanticLinks;
      if( semanticLinks.errors.length ) {
        grammarStatus = false;
        grammarError = "(semantic) " + semanticLinks[semanticLinks.errors[0]].exception.message;
      }
    }
    if( "grammarStatus" in e.data ) {
      grammarStatus = e.data.grammarStatus;
      grammarError = e.data.grammarError;
    }
  }

  onMount( async () => {
      const CodeMirror = (await import( "codemirror" ) ).default
      window.CodeMirror = CodeMirror
      await import( "codemirror/mode/pegjs/pegjs.js" )
      await import( "codemirror/addon/display/autorefresh.js" )
      await import( "codemirror/addon/dialog/dialog.js" )
      await import( "codemirror/addon/search/search.js" )
      await import( "codemirror/addon/search/jump-to-line.js" )
      await import( "codemirror/addon/search/matchesonscrollbar.js" )
      grammarCM = CodeMirror
        .fromTextArea( document.getElementById( "grammar" ), { mode: "pegjs", lineWrapping: true, lineNumbers: true, autoRefresh: true } )
      grammarCM
        .on( "change", cm => {
            clearTimeout( timeout )
            grammarStatus = null
            grammarError = "calcul de la grammaire…"
            grammar = cm.getValue()
          }
        )
      try {
        sharedworker = new SharedWorker( "workers/webworker-grammar.js" )
        sharedworker.port.onmessage = onWorkerMessage;
        sharedworker.port.start()
        sharedworker.port.postMessage( { grammar, text, initial: true } )
      } catch(e) {
        try {
          webworker = new WebWorker( "workers/webworker-grammar.js" )
          webworker.onmessage = onWorkerMessage;
          webworker.postMessage( { grammar, text, initial: true } )
        } catch(e) {
        }
      }
    }
  );

</script>

<style>

  p:first-of-type {
    margin-block-start: 0;
  }

  p:last-of-type {
    margin-block-end: 0;
  }

  #main-left {
    width: 66%;
    float: left;
    height: 100%;
    border: 1px solid black;
    padding: 1em;
    box-sizing: border-box;
  }
  #result {
    height: 100%;
    overflow: auto;
    margin-bottom: 1em;
  }
  #result.quarante {
    height: 40%;
  }
  #result.septante {
    height: 70%;
  }
  #text-frame {
    margin-top: 1em;
    height: calc( 30% - 1em );
  }
  #grammar-frame {
    box-sizing: border-box;
    margin-top: 1em;
    height: calc( 30% - 1em );
  }
  #grammar-frame.soixante {
    height: calc( 60% - 1em );
  }
  #main-right {
    width: 33%;
    height: 100%;
    float: right;
    border: 1px solid black;
    padding: 1em;
    box-sizing: border-box;
  }
  #text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #grammar {
    width: 100%;
    height: calc( 100% - 1.5em );
    box-sizing: border-box;
    display: block;
  }
  #details {
    width: 100%;
    height: 70%;
    overflow: auto;
  }
  #jsonDetails {
    width: 100%;
    height: calc( 30% - 1em );
    margin: 1em 0 0 0;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
  }
  #detailsRules {
    box-sizing: border-box;
    overflow: auto;
  }
  #detailsRules ul li span.capturedText {
    font-size: 0.8em;
    color: gray;
  }
  #main-right h1 {
    cursor: pointer;
    position: sticky;
    top: 0;
    background-color: white;
  }
  #main-right h1 span.selectedChar {
    background-color: chartreuse;
    border-bottom: 1px dotted black;
  }
  #main-right h1 span.selectedCharBlinking:hover {
    background-color: lavender;
    border-bottom: 1px dotted black;
  }
  .hidden {
    display: none;
  }
  :global(#grammar-frame > div.CodeMirror) {
    box-sizing: border-box;
    height: calc( 100% - 1.5em );
    border: 1px solid #a9a9a9;
    font-size: 13.333px;
    line-height: normal;
  }
  :global(#grammar-frame .CodeMirror pre) {
    padding: 0 2px;
  }
  :global(#grammar-frame .CodeMirror-lines) {
    padding: 2px 0;
  }
  #grammar-status {
    height: 1.5em;
  }
  .grammar-ok {
    color: green;
  }
  .grammar-fail {
    color: red;
  }
</style>

<svelte:head>
  <title>metslesliens</title>
  <link rel="stylesheet" href="codemirror.css">
  <link rel="stylesheet" href="matchesonscrollbar.css">
</svelte:head>

<div id="main-left">
<div id="result" class:quarante={$showGrammar} class:septante={!$showGrammar && $showText}>
{#each linkedText as line}
  <p>
    {#each line as link}
      {#if typeof link === "string"}
        {link}
      {:else}
        <b class="reflink" class:selected-reflink={selectedLink.text === link.text} on:click={() => showDetails(link)}>{link.text}</b>
      {/if}
    {/each}
  </p>
{/each}
</div>
<div id="text-frame" class:hidden={!$showText}>
<textarea id="text" bind:value={text}></textarea>
</div>
<div id="grammar-frame" class:hidden={!$showGrammar} class:soixante={!$showText}>
<textarea id="grammar" bind:value={grammar}></textarea>
<div id="grammar-status" class:grammar-ok={grammarStatus && grammarStatus !== null} class:grammar-fail={!grammarStatus && grammarStatus !== null}>● {grammarError}</div>
</div>
</div>

<div id="main-right">
<div id="details">
<h1>{#if selectedLink}
{#each selectedLink.text as char, i}
<span class="selectedCharBlinking" class:selectedChar="{selectedChar === i}" on:click={() => showContainingRules(i)}>{char}</span>
{/each}
{/if}</h1>
<div id="detailsRules"><ul>
{#each selectedLinkDetails as rule}
<li>{rule.rule}:{rule.start}:{rule.end}<br /><span class="capturedText">{rule.text}</span></li>
{/each}
</ul></div>
</div>
<pre id="jsonDetails">{#if selectedLink}{#if $showSemantic}{#if selectedLink.text in semanticLinks}{JSON.stringify(semanticLinks[selectedLink.text], null, 2)}{/if}{:else}{JSON.stringify(selectedLink, null, 2)}{/if}{/if}</pre>

</div>
