<script>
	import { showGrammar, showText, showSemantic } from "../state.js";

	export let segment;
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a, span {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
		cursor: pointer;
	}

	li.right {
		float: right;
	}
</style>

<nav>
	<ul>
		<li><a class='{segment === undefined ? "selected" : ""}' href='.'>metslesliens</a></li>
		<li><span on:click={ () => showGrammar.update(v => !v) }>grammaire {#if $showGrammar}✓{:else}✕{/if}</span></li>
		<li><span on:click={ () => showText.update(v => !v) }>texte {#if $showText}✓{:else}✕{/if}</span></li>
		<li><span on:click={ () => showSemantic.update(v => !v) }>JSON {#if $showSemantic}sémantique{:else}syntaxe{/if}</span></li>
		<li class="right"><a class='{segment === "a-propos" ? "selected" : ""}' href='a-propos' rel="prefetch">à propos</a></li>
		<li class="right"><a class='{segment === "aide" ? "selected" : ""}' href='aide' rel="prefetch">aide</a></li>
	</ul>
</nav>
